.common-type-tit {
    margin-top: 10px
}
.common-listWrap {
    .common-item {
        &:not(:first-child){
            margin-top: 10px;
        }
        max-height: 550px;
        .common-label {
            font-size: 14px;
            text-align: center;
            display: inline-block;
            max-width: 100px;
            min-width: 60px;
            margin-right: 5px;             
        }
    }
}
